/* You can add global styles to this file, and also import other style files */

html, body {
    background-color: #1e1e1e;
    color:lightgrey;
    padding:0;
    margin:0;
    overflow:hidden;
}

#playerToolBar {
    background-color: #464545;
}
#playerToolBar a {
    font-size: 1.2rem;
    color: #b8b8bb;
}
#playerToolBar .btn {
    border-radius:0px;
    width:50px;
}
#playerToolBar .btn:focus {
    border: none;
    box-shadow: 0;
    outline: 0 none;
}
#progressMeterFull, #progressMeter {
    cursor: pointer;
    height:11px;
    margin:0;
}
#progressMeterFull {
    background-color: #26344f;
    position: relative;
}
#progressMeter {
    background-color: #5d1f1c;
    position: absolute;
    top:0px;
    left:0px;
    width:0px;
}
#thumbScrubber {
    background-color: #b8b8bb;
    border: 1px solid #3d3d3d;
    width:15px;
    height:15px;
    border-radius: 15px;
    position:absolute;
    top:-1000px;
    left:-1000px;
    cursor: pointer;
}



#VideoOptions {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0px;
    border: none;
}
#VideoOptions h2 {
    font-size: 1.4em;
    color: #444444;
}
#VideoOptions li {
    cursor: pointer;
    background-color: rgba(43, 43, 43, 0.48);
    border: 1px solid #3A3A3A;
}
.panel-body {
    padding:3rem;
}
