<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <h1>{{title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm a component</h3>
            <hr>
            <app-servers></app-servers>


            <!-- 
                EXERCISE 1
                <hr>
                <div class="app-success-alert"></div>
                <app-warning-alert></app-warning-alert>
                <hr> 
            -->

        </div>
    </div>
</div>
